@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.item {
  padding: 86px 70px;
  width: 450px;
  text-align: center;
  background-color: #fff;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.icon {
  display: inline-block;
  margin-bottom: 40px;
  width: 218px;
  height: 164px;
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.label {
  margin: 0 0 10px 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}

.labelBronze {
  composes: label;
  color: #dd7c4b;
}

.labelSilver {
  composes: label;
  color: #c0c0c0;
}

.labelGold {
  composes: label;
  color: #dda431;
}

.capacity {
  margin: 0;
  padding: 0 0 16px 0;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  color: #b4b4b4;
}

.description {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #bababa;
}

.price {
  margin: 40px 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: #7f8c8d;
}

.button {
  padding: 18px 60px;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

.buttonBronze {
  composes: button;
  background-color: #dd7c4b;
}

.buttonSilver {
  composes: button;
  background-color: #c0c0c0;
}

.buttonGold {
  composes: button;
  background-color: #dda431;
}
